altgraph
certifi
charset-normalizer
comtypes; platform_system == "Windows"
Flask
idna
packaging
pefile; platform_system == "Windows"
Pillow
pyinstaller
pyinstaller-hooks-contrib
pypiwin32; platform_system == "Windows"
PyQt5; platform_system == "Windows"
PyQt5-Qt5; platform_system == "Windows"
PyQt5_sip; platform_system == "Windows"
pyttsx3
pywin32; platform_system == "Windows"
pywin32-ctypes; platform_system == "Windows"
requests
setuptools
six
urllib3
websocket-client
